<mat-toolbar color="primary">
  <img src="../../assets/logo.png" class="logo">
  <h1>Giftokens</h1>
  <span class="spacer"></span>
  <span class="mid-text" *ngIf="(displayedAccount | async); else displayButton; let account"> 
    <span class="green-dot">●</span>  
    {{account}} 
  </span>
  <ng-template #displayButton>
    <button 
    mat-raised-button color="accent"
    (click)= "openMetaMask()"
    class="button">
      Connect Wallet
    </button>
  </ng-template>
</mat-toolbar>
  


  
  <div class="widget">




    <h2 class="h2">Create a giftoken</h2>

    <app-image-generator (prompted) = "prompted($event)"></app-image-generator>  
    <p 
      *ngIf="prompt$ | async as prompt"
      class="red-text"> 
      Generating image for the request {{prompt}}... 
    </p>
    <app-gallery [images] = "$any(images$ | async)"></app-gallery>  
    
    <br>
    <br>
    
    <form [formGroup]="form" (ngSubmit)="mintNFT()">
  
      <mat-form-field appearance="fill" class="full-width">
          <mat-label>Giftee address</mat-label>
          <input 
          matInput 
          [formControl]="form.controls.prompt" 
          placeholder="0x..." 
          #description
          (keyup.enter)="mintNFT()">
      </mat-form-field>
      
      <button
          mat-raised-button color="accent"
          class="full-width button"
          type="submit"
          [disabled]="!form.valid">
          Mint Giftoken
      </button>

      <mat-progress-bar
          *ngIf="isLoading"  
          color="accent" 
          mode="buffer">
      </mat-progress-bar>  
    </form>
  
    <p *ngIf="tokenID | async"
    class="mid-text center">
      Giftoken was minted successfully! Proceed to its <a href="localhost:4200/tokens/{{tokenID | async}}">overview. Uploading image to IPFS might take up to a few minutes.</a>  
    </p>

  </div>