<mat-toolbar color="primary">
  <img src="../../assets/logo.png" class="logo">
  <h1>Giftokens</h1>
  <span class="spacer"></span>
  <span class="mid-text" *ngIf="(displayedAccount | async); else displayButton; let account"> 
    <span class="green-dot">●</span>  
    {{account}} 
  </span>
  <ng-template #displayButton>
    <button 
    mat-raised-button color="accent"
    (click)= "openMetaMask()">
      Connect Wallet
    </button>
  </ng-template>
</mat-toolbar>
  

  
  <div class="widget">
    <h2 class="h2">Create a giftoken</h2>

    <app-image-generator (prompted) = "prompted($event)"></app-image-generator>  
    <p *ngIf="prompt$ | async as prompt"> Generating image for the request {{prompt}}... </p>
    <app-gallery [images] = "$any(images$ | async)"></app-gallery>  
    
    <br>
    <br>
    
    <form [formGroup]="form" (ngSubmit)="mintNFT()">
  
      <mat-form-field appearance="fill" class="full-width">
          <mat-label>Receiver address</mat-label>
          <input 
          matInput 
          [formControl]="form.controls.prompt" 
          placeholder="0x..." 
          #description
          (keyup.enter)="mintNFT()">
      </mat-form-field>
      
      <div mat-dialog-actions>
      <button
          mat-raised-button color="accent"
          class="full-width"
          type="submit">
          Create Giftoken
      </button>
      </div>
  
    </form>
  
    <p *ngIf="tokenID | async">
      Giftoken was minted successfully! Please proceed to its <a href="localhost:4200/tokens/{{tokenID | async}}">overview</a>  
    </p>

  </div>