
<mat-toolbar color="primary">
  <img src="../../assets/logo.png" class="logo">
  <h1>Giftokens</h1>
  <span class="spacer"></span>
  <span class="mid-text" *ngIf="(displayedAccount | async); else displayButton; let account"> 
    <span class="green-dot">●</span>  
    {{account}} 
  </span>
  <ng-template #displayButton>
    <button 
    mat-raised-button color="accent"
    (click)= "openMetaMask()"
    class="button">
      Connect Wallet
    </button>
  </ng-template>
</mat-toolbar>

<div class="widget">
  <h2 class="h2">Giftoken #{{tokenID}}</h2>
  <br>
  <img [src]="nftImage" class="full-width rounded">
  <br>
  <br>
  <p 
    class="mid-text center inner-widget"
    *ngIf="isBeneficiary | async else notBeneficiaryGiftee">Wow, this Giftoken is for you!

    
  </p>

  <ng-template #notBeneficiaryGiftee>
    <p class="mid-text center inner-widget">
      Giftee: 
      <a [href]="'https://goerli.etherscan.io/address/' + beneficiaryString"
      target="blank">
        {{shortBeneficiary | async}}
      </a>
    </p>
  </ng-template>

  <!-- <p class="small-text">Contract: 
    <a [href]="'https://goerli.etherscan.io/address/' + contractAddress"
    target="blank">
      {{shortAddress}}
    </a>
  </p> -->

  <br>
  
  <p 
    *ngIf="!contributions?.length else notEmpty"
    class="mid-text center">
    There are no contributions yet
  </p>

  <ng-template #notEmpty>
    <p class="mid-text">Сontributors:</p>
    <ul>
      <li *ngFor="let contribution of contributions">
        <span class="contribution">
          <a 
          [href]="'https://goerli.etherscan.io/address/' + contribution.contributor"
          target="blank"> 
            {{contribution.shortContributor}}</a> 
            <span class="mid-text">{{contribution.contribution}} ETH</span> 
        </span>
      </li>
    </ul>

  </ng-template>


  <div *ngIf="isBeneficiary | async else notBeneficiaryAdd">
    <button
      mat-raised-button color="accent"
      class="full-width button"
      (click)="claimGifts()">
      Claim gifts
    </button>
  </div>


  <ng-template #notBeneficiaryAdd>
    <!-- <p>Add your contribution:</p> -->
    <form [formGroup]="form" (ngSubmit)="addFunds()">
      <mat-form-field appearance="fill" class="full-width">
          <mat-label>Add your contribution</mat-label>
          <input 
          matInput 
          [formControl]="form.controls.prompt" 
          placeholder="100" 
          #description
          (keyup.enter)="addFunds()">
      </mat-form-field>

      <button
          mat-raised-button color="accent"
          class="full-width button"
          type="submit"
          [disabled]="!form.valid">
          Add tokens
      </button>

    </form>
  </ng-template>

</div>