<div class="toolbar" role="banner">
  <h1>Giftoken #{{tokenID}}</h1>
</div>

<div *ngIf="(displayedAccount | async); else displayButton; let account"> 
    
    {{account}} 
    <br>
    <br>
    <!-- <p>If you don't see the token details yet, please wait 30-60 seconds until the minting process is over and reload page</p> -->

    <img [src]="nftImage">

    <br>
    <br>

    <p *ngIf="isBeneficiary | async else notBeneficiaryGiftee">Congratulations! This Giftoken is for you :)</p>

    <ng-template #notBeneficiaryGiftee>
      <p>Giftee: 
        <a [href]="'https://goerli.etherscan.io/address/' + beneficiaryString"
        target="blank">
          {{shortBeneficiary | async}}
        </a>
      </p>
    </ng-template>

    <p>Contract: 
      <a [href]="'https://goerli.etherscan.io/address/' + contractAddress"
      target="blank">
        {{shortAddress}}
      </a>
    </p>

    <br>
    <p>Сontributors:</p>
    <li *ngFor="let contribution of contributions">
      <a 
      [href]="'https://goerli.etherscan.io/address/' + contribution.contributor"
      target="blank"> 
        {{contribution.shortContributor}}</a> added {{contribution.contribution}} ETH
    </li>
    <br>

    <div *ngIf="isBeneficiary | async else notBeneficiaryAdd">
      <button
      mat-raised-button color="primary"
      (click)="claimGifts()">
      Claim gifts
    </button>
    </div>
    <br>
    
    <ng-template #notBeneficiaryAdd>
      <p>Add your contribution:</p>
      <form [formGroup]="form" (ngSubmit)="addFunds()">
        <mat-form-field appearance="outline">
            <mat-label>Amount to add</mat-label>
            <input 
            matInput 
            [formControl]="form.controls.prompt" 
            placeholder="100" 
            #description
            (keyup.enter)="addFunds()">
        </mat-form-field>
  
        <div mat-dialog-actions>
        <button
            mat-raised-button color="primary"
            type="submit">
            Add tokens
        </button>
        </div>
        <br>
      </form>
    </ng-template>

</div>

<ng-template #displayButton>
  <button (click)= "openMetaMask()">
    Connect Wallet
  </button>
</ng-template>


