<br>
  <form [formGroup]="form" (ngSubmit)="generateImage()"> 

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Image description</mat-label>
        <input 
        matInput 
        [formControl]="form.controls.prompt" 
        placeholder="White cat with a red hat" 
        #description
        (keyup.enter)="generateImage()">
    </mat-form-field>
    
    <div mat-dialog-actions>
    <button
        mat-raised-button color="accent"
        class="full-width"
        type="submit">
        Generate image
    </button>
    </div>

</form>

