<br>
  <form [formGroup]="form" (ngSubmit)="generateImage()"> 

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Giftoken image description</mat-label>
        <input 
        matInput 
        [formControl]="form.controls.prompt" 
        placeholder="White cat with a red hat" 
        #description
        (keyup.enter)="generateImage()">
    </mat-form-field>
    
    <button
        mat-raised-button color="accent"
        class="full-width button"
        type="submit"
        [disabled]="!form.valid">
        Generate image
    </button>

    <mat-progress-bar
        *ngIf="isLoading"  
        color="accent" 
        mode="buffer">
    </mat-progress-bar>  

</form>

