@import 'src/newTheme.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F5E9CF;
}

.logo {
    width: 2em;
    height:auto;
    margin-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.h2 {
    color: white;
    margin: 0px !important;
}

.mid-text {
    font-size: medium;
    color: white;
}

.small-text {
    font-size: small;
    color: white;
}

.red-text {
    font-size: medium;
    color: #e96478;
    margin-top: 1em !important;
    margin-bottom: 1em;

}

.green-dot {
    color: #7DB9B6
}

.widget {
    background-color: #4d455d;
    border-radius: 20px;
    margin: auto;
    margin-top: 3em;
    width: 320px;
    padding: 1.5em;
}

.full-width {
    width: 100%;
}

.rounded {
    border-radius: 20px;
}

a:link {
    color: #e96478;
    font-size: medium;
}
  
a:visited {
    color: #e96478;
    font-size: medium;
}
  
a:hover {
    color: #f1919e;
    font-size: medium;
}
  
a:active {
    color: #f1919e;
    font-size: medium;
}