@import 'src/newTheme.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F5E9CF;
}

.logo {
    width: 2em;
    height:auto;
    margin-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.mid-text {
    font-size: medium;
}

.green-dot {
    color: #7DB9B6
}
