@import 'src/newTheme.scss';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #F5E9CF;
}

.button:hover {
    background-color: #afd4d3 !important;
}

.button:disabled {
    background-color: #A2ABAB !important;
}

.logo {
    width: 2em;
    height:auto;
    margin-right: 1em;
}

.spacer {
  flex: 1 1 auto;
}

.h2 {
    color: white;
    margin: 0px !important;
}

.mid-text {
    font-size: medium;
    color: white;
}

.small-text {
    font-size: small;
    color: white;
}

.red-text {
    font-size: medium;
    color: #e96478;
    margin-top: 1em !important;
    margin-bottom: 1em;

}

.inner-widget {
    background-color: #6d647e;
    border-radius: 12px;
    padding: 0.5em;   
}

.center {
    margin: auto;
    text-align: center;
}

.green-dot {
    color: #7DB9B6
}

.margin-top {
    margin-top: 1em;
}

.widget {
    background-color: #4d455d;
    border-radius: 20px;
    margin: auto;
    margin-top: 1.5em;
    width: 320px;
    padding: 1.5em;
}

.full-width {
    width: 100%;
}

.rounded {
    border-radius: 20px;
}

.contribution {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 0.5em;
}

ul {
    list-style-type:none;
    padding-left:0;
}

a:link {
    color: #e96478;
    font-size: medium;
    text-decoration: none;
}
  
a:visited {
    color: #e96478;
    font-size: medium;
    text-decoration: none;
}
  
a:hover {
    color: #f1919e;
    font-size: medium;
    text-decoration: none;
}
  
a:active {
    color: #f1919e;
    font-size: medium;
    text-decoration: none;
}